* {
  margin: 0;
  padding: 0;
}
@font-face { font-family: Roboto; src: url('Roboto-Thin.ttf'); } 
body {
  height: 100vh;
  width: 100vw;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100%;
}

.robotext {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 369px;
  width: 369px;
}

#circleShape {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #55f3ff;
  border-radius: 369px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px #55f3ff;
  transition: 200ms;
}

#startext {
  margin: 50px 0;
  font-size: 20px;
  cursor: pointer;
  transition: 200ms;
}
#startext:hover {
  font-weight: 700;
}

#humantext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  width: 70vw;
  text-align: center;
  user-select: none;
}

#languages {
  display: none;
}

.language {
  opacity: 0.5;
  cursor: pointer;
  margin: 10px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language:hover {
  opacity: 1;
}

#captcha {
  display: none;
  text-align: center;
}

#captcha .text {
  font-size: 28px;
  max-width: 300px;
}

#captcha .button {
  padding: 0.8rem 1.2rem;
  background-color: #55f3ff;
  border-radius: 4px;
  max-width: 150px;
  margin: 20px auto;
  font-size: 16px;
  cursor: pointer;
}

#arrows,
#hadaf {
  width: 100%;
  justify-content: space-around;
  display: none;
}

#hadaf {
  font-size: 69px;
  color: white;
}

.arrow {
  width: 69px;
  height: 69px;
  color: white;
}

#video0Container, #video1Container{
  display: none;
}

#video0, #video1{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

